# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Managed by Composer
/vendor/

# Composer PHAR
/composer.phar

# netbeans private project file
/nbproject/