<section id="intro" class="main style1 dark fullscreen">
    <div class="content container 75%">
        <header>
            <h2>L'Antre de la tentation</h2>
        </header>
        <p>Pourquoi ne pas y <strong>Succomber</strong>.</p>
        <footer>
            <a href="#description" class="button style2 down">More</a>
        </footer>
    </div>
</section>
