<section id="livredor" class="main style3 dark">
    <div class="content box2 style2">
        <header>
            <h2>Livre d'or</h2>
        </header>
        <p>Si vous souhaitez nous laisser un commentaire ou des suggestions, n'hésitez pas !.<br>
            Nous sommes à votre écoute pour vous offrir toujours plus de satisfaction.<br>
        Alors prenez votre plus belle plume et laissez-vous guider...</p>
        <div class="box container 75%">

            <!-- Contact Form -->
            <form method="post" action="#">
                <div class="row 50%">
                    <div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                    <div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email" /></div>
                </div>
                <div class="row 50%">
                    <div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
                </div>
                <div class="row">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" /></li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </div>
    {#            <a href="#reservation" class="button style2 down anchored">Next</a>#}
</section>