<!-- Work -->
<section id="photos" class="main style3 primary">
    <div class="content container">
        <header>
            <h2>Le gîte en photo</h2>
            <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
                Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
                arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.</p>
        </header>

        <!-- Lightbox Gallery  -->
        <div class="container 75% gallery">
            <div class="row 0% images">
                <div class="6u 12u(mobile)"><a href="images/fulls/spa1.jpg" class="image fit from-left"><img src="images/thumbs/spa1.jpg" title="Une envide de se faire plaisir et de se relaxer" alt="" /></a></div>
                <div class="6u 12u(mobile)"><a href="images/fulls/spa2.jpg" class="image fit from-right"><img src="images/thumbs/spa2.jpg" title="Tel un diamant sorti de son écrin, le spa vous ouvre ses bras" alt="" /></a></div>
            </div>
            <div class="row 0% images">
                <div class="6u 12u(mobile)"><a href="images/fulls/bar1.jpg" class="image fit from-left"><img src="images/thumbs/bar1.jpg" title="Pour vous accueillir dans la villa une bouteille de champagne et ses toasts vous attendent au bar !" alt="" /></a></div>
                <div class="6u 12u(mobile)"><a href="images/fulls/salon_mezzanine1.jpg" class="image fit from-right"><img src="images/thumbs/salon_mezzanine1.jpg" title="Pour un instant de cinéma, un jeu coquin ou juste un moment au calme, prenez un peu de hauteur dans le salon baroque !" alt="" /></a></div>
            </div>
            <div class="row 0% images">
                <div class="6u 12u(mobile)"><a href="images/fulls/05.jpg" class="image fit from-left"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a></div>
                <div class="6u 12u(mobile)"><a href="images/fulls/06.jpg" class="image fit from-right"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a></div>
            </div>
        </div>

    </div>
    <a href="#tarifs" class="button style2 down anchored">Next</a>
</section>